{% extends 'main.html' %}
{% load staticfiles %}

{% block start %}

<head>
    <title>Список комментариев</title>
</head>
<body>
    <h1 style="margin:25%">Здравствуйте. Менеджер задач приветствует Вас! Чтобы начать работу войдите под своим логином или зарегистрируйтесь</h1>
</body>

{% endblock start %}