{% extends 'main.html' %}
{% load staticfiles %}

{% block table %}


    <script src="{% static 'js/table.js'%}"></script>


<head>
    <title class = "page-header">Список комментариев</title>
</head>
<body>
    <table class="table table-striped" style="margin: 5%; width: 90%" >
        <thead>
            <tr>
                <th>Фильтры:</th>
                <th><select id = 'creator_filter' onchange="filterr(this, 'MyTable',1,[2,3,4])" autocomplete="off"><option selected></option>
                        {% for item in users %}
                            <option>{{ item }}</option>
                        {% endfor %}
                </select></th>
                <th><select id = 'performer_filter' onchange="filterr(this, 'MyTable',2,[1,3,4])" autocomplete="off"><option selected></option>
                        {% for item in users %}
                            <option>{{ item }}</option>
                        {% endfor %}
                </select></th>
                <th><input type="datetime" name="filt" onkeyup="filterr(this, 'MyTable',3,[1,2,4])"  autocomplete="off" id="datepicker"/></th>
                <th><input name="filt" onkeyup="filterr(this, 'MyTable',4,[1,2,3])"  type="text" autocomplete="off"/></th>
                <th></th>
            </tr>
            <tr>
                <th>Задача</th>
                <th onclick="sortTable(0)">Заявитель</th>
                <th onclick="sortTable(1)">Исполнитель</th>
                <th>Задача создана</th>
                <th>Задача завершена</th>
                <th>Операции</th>
            </tr>
        </thead>
        <tbody id = "MyTable">
            {% for cell in table %}
                <tr>
                    <td>{{cell.task}}</td>
                    <td>{{cell.creator}}</td>
                    <td>{{cell.performer}}</td>
                    <td>{{cell.created}}</td>
                    {% if not cell.solved %}
                        <td><div id='td{{ cell.id }}'></div></td>
                        <td><button id="bt{{ cell.id }}" class = login_button  type="submit" onclick="return commit_table({{ cell.id }});">Завершить задачу</button></td>
                    {% else %}
                        <td>{{cell.solved}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
                <tr id = 'addRow'>
                    <td><input type="text" id="edit_task" name="edit_task" size="30" maxlength="100" autocomplete="off"/></td>
                    <td><div id = "creator">{{ request.user.username }}</div></td>
                    <td><select id = 'edit_selection' name="edit_selection" autocomplete="off"><option></option>
                        {% for item in users %}
                            <option>{{ item }}</option>
                        {% endfor %}
                    </select></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class = login_button  type="submit" onclick="return validateTable();">Добавить задачу</button>
                    </td>

                </tr>
        </tbody>
    </table>
</body>

{% endblock table %}