
{% load staticfiles %}
<link rel="stylesheet" type="text/css"/>
{%  block login %}
    <div>
        <form class = "choice" action="/auth/login/" method="post" style="text-align: center">
            {%  csrf_token %}
            <label for="username">Имя пользователя</label>
            <input class= "l_w_u" type="text" name="username" id="username">
            <label for="password">Пароль</label>
            <input class= "l_w_u" type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="login_button" type="submit" value="Войти">
        </form>
    </div>
{% endblock %}