{% if user.is_anonymous %}
<h1> Регистрация </h1>
<form action="/auth/register/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit"> Зарегистрироваться </button>
</form>
{% endif %}